
.container {
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    padding: 60px;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    
}

.info {
    margin: auto;
    padding-left: 20px;
    padding-right: 10px;
    color: #fff;
}
h1 {
    font-weight: 600;
    font-size: 50px;
}
h3 {
    font-weight: 300;
    font-size: 30px;
}

p {
    font-weight: 100;
}
a {
    color: #fff;
}

.link {
    text-decoration: underline;
}