<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: indigo;">
    <a class="navbar-brand" style="color:white;">bank app</a>
    <button class="navbar-toggler" style="background-color: rgb(188, 138, 223);" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <a routerLink="" >
            <button class="nav-link border rounded p-1 px-4 text-dark" style="background-color: rgb(188, 138, 223);">Back</button>
        </a>
    </div>
</nav>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./developer-profile.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <title>Johan Ruiz Profile</title>
</head>
<body>
    <div class="container">
        <div class="info">
            <h1>Johan Andrés Ruiz Saldarriaga</h1>
            <a class="link" [href]="'mailto:joaruizsa@gmail.com'">joaruizsa@gmail.com</a>
            <h3>Petroleum Enginner</h3>
            <p>Engineer and student of Master of Science-Statistics, I am currently working as a data analyst for a foreign company. My desire to grow professionally led me to become interested in the world of development and programming, during the last months I have acquired knowledge in languages ​and tools such as: HTML, CSS, JS, Java, Angular, Git and GitHub and I have been able to apply them little by little in the position in which I perform.</p>
            <p>If you want to know a little about my work I invite you to visit my <a class="link" href="https://github.com/johanruizs/" target="_blank">repository.</a></p>
        </div>
        <div>
            <img src="/assets/images/fotoJohan2.png" alt="Johan's photo">
        </div>
    </div>
</body>
</html>
